services:
  backend:
    user: "1000:1000"
    build:
      context: ./backend
      dockerfile: Dockerfile
      no_cache: true
    volumes:
      - ./backend/static:/usr/local/bin/static
      - ${DISK_FILE_PATH}:/usr/local/bin/phoenix-file-uploads
    ports:
      - "3001:3001"
    environment:
      - USER_UID=1000
      - USER_GID=1000
      - DATABASE_URL=${DATABASE_URL}
      - FRONTEND_URL=${FRONTEND_URL}
      - FILE_STORE_SCHEME=${FILE_STORE_SCHEME}
      - BASE_FILE_PATH=${BASE_FILE_PATH}
      - PORT=3001
      - GOTIFY_URL=http://gotify
      - GOTIFY_DEFAULTUSER_PASS=admin
      - GOTIFY_DEFAULTUSER_NAME=admin
      - LOG_LEVEL=${LOG_LEVEL:-INFO}
      - WEBSOCKET_BUFFER_SIZE=${WEBSOCKET_BUFFER_SIZE:-1000}
      - FILE_STORE_SCHEME=${FILE_STORE_SCHEME}
      - BASE_FILE_PATH=${BASE_FILE_PATH}
      - PUBLIC_BASE_URL=${PUBLIC_BASE_URL}
    depends_on:
      - gotify
  gotify:
    image: gotify/server:latest
    ports:
      - "8080:80"
    environment:
      - GOTIFY_DEFAULTUSER_PASS=admin
      - GOTIFY_DEFAULTUSER_NAME=admin
    volumes:
      - ./gotify:/var/lib/gotify